@font-face {
    font-family: 'boschsans regular';
    src: url('@/assets/fonts/BoschSans-Regular.woff2') format('woff2'),
        url('@/assets/fonts/BoschSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'boschsans bolder black italic';
    src: url('@/assets/fonts/BoschSans-BlackItalic.woff2') format('woff2'),
        url('@/assets/fonts/BoschSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'boschsans italic';
    src: url('@/assets/fonts/BoschSans-Italic.woff2') format('woff2'),
        url('@/assets/fonts/BoschSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'boschsans bold italic';
    src: url('@/assets/fonts/BoschSans-BoldItalic.woff2') format('woff2'),
        url('@/assets/fonts/BoschSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'boschsans bolder black';
    src: url('@/assets/fonts/BoschSans-Black.woff2') format('woff2'),
        url('@/assets/fonts/BoschSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'boschsans bold';
    src: url('@/assets/fonts/BoschSans-Bold.woff2') format('woff2'),
        url('@/assets/fonts/BoschSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

