:root {
  --g-red-50: #ed0007;
  --g-blue-50: #007bc0;
  --g-purple-50: #c535bc;
  --g-green-50: #00884a;
}

.loader-main {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  background: transparent;
}

.a-activity-indicator {
  height: 4.5rem;
  position: relative;
  width: 4.5rem;
}

.a-activity-indicator__top-box {
  animation-delay: 0s;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: top-box-animation-default;
  animation-timing-function: ease-in-out;
  background-color: var(--g-red-50);
  height: 33.3333333333%;
  left: 33.3333333333%;
  position: absolute;
  top: 33.3333333333%;
  width: 33.3333333333%;
  z-index: 1;
}

.a-activity-indicator__bottom-box {
  animation-delay: 0s;
  animation-duration: 3s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: bottom-box-animation-default;
  animation-timing-function: ease-in-out;
  background-color: var(--g-purple-50);
  height: 33.3333333333%;
  left: 33.3333333333%;
  position: absolute;
  top: 33.3333333333%;
  width: 33.3333333333%;
  z-index: 0;
}

@keyframes top-box-animation-default {
  0%,
  to {
    transform: translate(0);
  }

  12.5% {
    transform: translate(-24px);
  }

  24.99% {
    background-color: var(--g-red-50);
    transform: translate(0);
  }

  25% {
    background-color: var(--g-blue-50);
  }

  37.5% {
    transform: translateY(-24px);
  }

  50% {
    transform: translate(0);
  }

  62.5% {
    transform: translate(-24px);
  }

  74.99% {
    background-color: var(--g-blue-50);
    transform: translate(0);
  }

  75% {
    background-color: var(--g-red-50);
  }

  87.5% {
    transform: translateY(-24px);
  }
}

@keyframes bottom-box-animation-default {
  0%,
  to {
    background-color: var(--g-purple-50);
    transform: translate(0);
  }

  12.5% {
    transform: translate(24px);
    z-index: 2;
  }

  25% {
    transform: translate(0);
    z-index: 2;
  }

  37.5% {
    transform: translateY(24px);
    z-index: 0;
  }

  49.99% {
    background-color: var(--g-purple-50);
    transform: translate(0);
    z-index: 0;
  }

  50% {
    background-color: var(--g-green-50);
  }

  62.5% {
    transform: translate(24px);
    z-index: 2;
  }

  75% {
    transform: translate(0);
    z-index: 2;
  }

  87.5% {
    transform: translateY(24px);
    z-index: 0;
  }

  99.99% {
    background-color: var(--g-green-50);
  }
}